
html {
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;

    --robotCon: 'Roboto Condensed', sans-serif;
    --BUKO: 'Cinzel', serif;
}

.fa {
    color: white;
}

body {
    margin: 0;
    background-color: var(--lys-rosa);
}

.fa-chevron-down {
    font-size: 1.2rem;
}

header > div > .fa-bars {
    display: none;
}

h2, h1, p {
    margin: 0;
}

/*pen li*/

header > nav > ul > li, footer > div > ul > li, .overlay li {
    list-style: none;
}

/*bortover liste*/
header > nav > ul, footer > div > ul, header nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0;
}

/*pen a*/

header > nav > ul > li > a, footer > div > ul > li > a, .overlay a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--robotCon);
    color: white;
    letter-spacing: 0.8px;
}

/*nedover liste*/

.overlay ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
}




header {
    background-color: var(--dark-orange);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
    justify-content: space-between;
}



header nav {
    align-items: center;
    gap: 3.5rem;
}

@media (max-width: 700px) {
    
    header {
        display: grid;
        grid-row: auto;
        grid-template-areas:
        'menu logo profile';
    }

    #logo {
        grid-area: logo;
    }

    #profile {
        grid-area: profile;
        font-size: 1.6rem;
    }

    header > nav {
        display: none;
    }

    header > div > .fa-bars {
        display: inline;
        font-size: 2rem;
    }

    div#menu {
        grid-area: menu;
        width: fit-content;
    }

    .overlay {
        display: none;
        display: block;
        position: absolute;
        top: 9%;
        left: 0%;
        background-color: #CF9B7F;
        padding: 3rem;
        
    }

}

@media (min-width: 700px) {
    div.overlay {
        display: none;
}
}








.herosection {
    height: 90vh;
    background-image: url(img/larisa-birta-slbOcNlWNHA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

hr {
    width: 120px;
    margin-bottom: 3rem;
}

.herosection >  div {
    padding-top: 52vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.herosection >  div > h1 {
    font-family: var(--BUKO);
    font-weight: 500;
    font-size: 7rem;
    line-height: 7rem;
}

.herosection >  div > p {
    font-family: var(--robotCon);
    font-weight: 100;
    font-size: 1.8rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin: 0;
}


.toDiv {
    height: 500px;
    background-color: var(--lys-rosa);
    text-align: center;
    padding-top: 200px;
}


.abovefooter {
    width: 500px;
    background-color: var(--blue-green);
    height: 200px;
    margin-left: auto;
    text-align: center;
    padding-top: 2rem;
    border-radius: 20px 0 0 0;
    font-family: var(--robotCon);
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
}

.abovefooter > input {
    width: 300px;
    height: 35px;
}

.abovefooter > button {
    border: none;
    color: white;
    background-color: #CF9B7F;
    padding: 0.5rem;
}





footer {
    background-color: var(--blue-green);
}

footer > div > ul {
    margin: 0;
    flex-direction: column;
    gap: 0.5rem;
    padding: 3rem 0 3rem 6rem;
}

footer > div > p {
    text-align: center;
    color: white;
    padding-bottom: 0.3rem;
    font-family: var(--robotCon);
    text-transform: uppercase;
}





