html {
    --chocBrown: rgb(167, 138, 126);
    --darkBrown: rgb(69, 56, 52);
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;
    --whiteish: rgb(251, 248, 248);
    --greyLightBrown: #e1d7d1;
    --LIGHTgreyLightBrown: #ede3deaf;
    
    --robotCon: 'Roboto Condensed', sans-serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
    --Nanum: 'Nanum Myeongjo', serif;
    --fatA: 'Abril Fatface', cursive;
    --corGar: 'Cormorant Garamond', serif;
    --playDis: 'Playfair Display', cursive;
    --barCon: 'Barlow Condensed', sans-serif;
}

main {
    margin: 0;
    position: relative;
}

.margin {
    margin-top: -18rem;
    text-align: right;
    margin-bottom: 13rem;
}

.breadcrumbs {
    padding: 2rem 0 1rem 0;
}

.smallerheader {
    object-position: left;
}

.underhero {
    padding: 0;
}

span {
    font-weight: 800;
    font-size: 1rem;
}

.undermenu > div > ul > li > a {
    text-transform: initial;
}

.undermenu > div > ul > li {
    flex: 1;
    display: flex;
    align-items: center;
transition: 0.8s ;
}

.undermenu > div > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}

.undermenu > div > h1 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    font-family: var(--playDis);
}

.lastnav {
    position: absolute;
    bottom: -7%;
    left: 41%;
}

.undermenu {
    position: sticky;
    top: 35%;
    padding-left: 3rem;
    padding-top: 1rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.3s ease;
    width: fit-content;
}

.margin > section {
    height: fit-content;
}

.margin > section > div > p {
    max-width: 700px;
    line-height: 1.4rem;
}

.active {
    min-height: 40px;
    min-width: 90px;
    background-color: var(--LIGHTgreyLightBrown);
    padding: 0.3rem 1rem 0.3rem 4rem;
    margin-left: -4rem;
    transition: 0.5s ease-in;
}

.ourstory, .conductor, .board, .future {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.margin > section > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 300;
    font-size: 1rem;
}

section > div > img {
    margin-bottom: 2rem;
    max-width: 800px;
    height: 350px;
    display: inline-block;
    object-fit: cover;
    object-position: center;
}

.margin > section > h2 {
    font-family: var(--fatA);
    font-size: 3rem;
    text-transform: lowercase;
    padding-bottom: 1rem;
    letter-spacing: 1px;
}



@media (max-width: 1100px) {

    .margin > section > div > p {
        max-width: 500px;
        text-align: right;
    }

    section > div > img {
        max-width: 400px;
    }

    section > h2 {
        font-size: 2.5rem;
    }
}



@media (max-width: 750px) {

    .undermenu {
        position: initial;
        margin: 2rem auto 3rem auto;
        padding: 0 1rem 0 2rem;
        align-items: center;
    }

    .undermenu >  div > ul {
        align-items: center;
    }

    .lastnav {
        position: initial;
    }

    .undermenu > div > ul > li::before {
        content: "  ";
        background-size: 15px 15px;
        display: inline-block;
        width: 15px; 
        height: 15px;
        background-image: url("https://www.sunroad.no/exam/wp-content/uploads/2022/05/icons8-up-32.png");
        transform: rotate(180deg);
    }
   
    .margin {
        margin: 0;
    }

    section > div > img, .margin > section > div > p {
        max-width: 100%;
        padding: 0;
    }
    
    .margin > section {
        height: fit-content;
        margin-bottom: 0;
    }
}