
html {
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;

    --robotCon: 'Roboto Condensed', sans-serif;
    --BUKO: 'Cinzel', serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
    --Nanum: 'Nanum Myeongjo', serif;
}





.loadinggif > img {
   max-width: 50px;
}

.loadinggif {
    position: fixed;
    left: 47%;
    text-align: center;
}

.loadinggif > p {
    font-family: var(--FiraS);
}


body {
    margin: 0;
}

main {
    margin: 0 6rem;
}



#menu  {
    display: none;
}

h2, h1, p {
    margin: 0;
}

/*pen li*/

header > nav > ul > li, footer > div > ul > li, .overlay li, .undermenu > div > ul > li {
    list-style: none;
}

/*bortover liste*/
header > nav > ul, footer > div > ul, .undermenu > div > ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0;
}

/*pen a*/

header > nav > ul > li > a, footer > div > ul > li > a, .overlay a, .undermenu > div > ul > li > a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--robotCon);
    color: white;
    letter-spacing: 0.8px;
}

/*nedover liste*/

.overlay ul, footer > div > ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
}


/* button */ 

.pinkgrid div:nth-child(2) > button, .pinkgridreverse div:nth-child(2) > button, .formbutton {
    background-color: #CF9B7F;
    border: none;
    width: 140px;
    height: 40px;
    color: white;
    font-family: var(--FiraS);
    font-size: 1rem;
    box-shadow: 1px 1px 12px 6px rgb(255, 253, 253) ;
    border-radius: 5px;
}



/* HEADER -----------------------------------------------------------*/


header {
    box-sizing: border-box;
     background-color: var(--blue-green);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2rem;
    transition: 0.3s;
    z-index: 100;
}

#logo > a > img {
    height: 80px;
}



header > nav > ul {
    gap: 1rem;
    margin: 1rem 0 0 0;
}



header > nav > ul > li {
    padding: 0 2rem 0 1rem;
    border-right: solid white 1px;
}

header > nav > ul > li:nth-child(5) {
    border: none;
    padding-right: 1rem;
}

header > nav > ul > li:last-of-type {
    border: none;
    padding-right: 1rem;
}

header > nav > ul > li:last-of-type img {
    height: 20px;
    width: 20px;
}




header > nav > div {
padding-right: 2rem;
}

header > nav > img {
    max-width: 30px;
    display: inline;
}


.search {
    display: none;
}

div#menu > img {
    width: 35px;
}




@media (max-width: 1000px) {


    header {
        display: grid;
        grid-template-areas:
        'logo nav'
        'logo search';
        justify-content: space-between;

    }

    header > nav > ul {
        gap: 1rem;
        margin-top: 0;
    }

    header > nav {
        margin-right: 0.5rem;
        grid-area: nav;
    }
    
    header > nav > ul > li {
        padding: 0 1rem 0 0;
        border-right: solid white 1px;
    }

    #logo img {
        max-width: 120px;
        
    }

    #logo {
        grid-area: logo;
    }

    header > nav > ul > li:last-of-type {
        display: none;

    }

    header > nav > ul > li:nth-child(5) {
        padding-right: 0.5rem;
    }
    
    .search {
        text-align: right;
        margin: 0;
        display: block;
        grid-area: search;
        padding-right: 1rem;
    }

    .search > img {
        width: 25px;
    }
 




}





@media (max-width: 750px) {

 

  

    .search {
        text-align: right;
        grid-area: search;
        padding: 0;

    }

    header > nav > ul > li:last-of-type {
        display: none;
    }

  
    header {
        display: grid;
        grid-auto-columns: 1fr;
        grid-row: auto;
        grid-template-areas:
        'menu logo search';
        padding: 1rem 2rem;
    }

    #logo {
        grid-area: logo;
        margin: 0 auto;
    }

    #logo > a > img {
        height: 50px;
    }

   
    header > nav {
        display: none;
    }

    div#menu {
        display: inline-block;
        grid-area: menu;
    }


    

    .overlay {
        display: block;
        display: none;
        position: absolute;
        top: 8%;
        left: 0%;
        background-color: #CF9B7F;
        padding: 3rem;
    }

}

@media (min-width: 750px) {
    div.overlay {
        display: none;
}
}




/* UNDERTITTEL ----------------------------------------------------------- */


section > p, section > h1 {
    display: inline;
}

.title {
    height: fit-content;
    margin-top: 0.5rem;
    display: flex;
    flex: 1 1 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1rem; 
    margin-bottom: 4rem;
    border-top: 1px solid var(--blue-green);
    border-bottom: 1px solid var(--blue-green);
}

.forthegrid {
    width: 120px;
}

.title h1 {
    padding: 0.5rem 0;
    font-family: var(--Nanum);
    text-transform: uppercase;
    color: var(--dark-orange);
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 1px
}

.breadcrumbs, .breadcrumbs a {
    color: white;
    text-decoration: none;
    font-family: var(--robotCon);
    font-weight: 100;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}



@media (max-width: 700px) {

    .breadcrumbs, .forthegrid {
        display: none;
    }

    .title {
        display: block;
        text-align: center;
    }
}







footer > div:last-of-type, .copyright {
text-align: right;
    background-color: var(--blue-green);
    font-family: var(--robotCon);
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
    display: block;
}

footer > div:last-of-type > input {
    width: 300px;
    height: 35px;
}

footer > div:last-of-type > button {
    border: none;
    color: white;
    background-color: #CF9B7F;
    padding: 0.5rem;
}






footer {
    background-color: var(--blue-green);
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 6rem;
}

footer > div > ul {
    gap: 1rem;
}



footer > div:nth-child(2) > p {
    color: white;
    padding-bottom: 0.3rem;
    font-family: var(--robotCon);
    text-transform: uppercase;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 0.8rem;
}

