
html {

    --chocBrown: rgb(167, 138, 126);
    --darkBrown: rgb(69, 56, 52);
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;
    --whiteish: rgb(251, 248, 248);
    --greyLightBrown: #e1d7d1;
    --LIGHTgreyLightBrown: #ede3deaf;
    
    --robotCon: 'Roboto Condensed', sans-serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
    --Nanum: 'Nanum Myeongjo', serif;
    --fatA: 'Abril Fatface', cursive;
    --corGar: 'Cormorant Garamond', serif;
    --playDis: 'Playful Display', cursive;
    --barCon: 'Barlow Condensed', sans-serif;
}


main {
    margin: 0 4rem;
}

body {
    margin: 0;
    background-color: var(--whiteish);
}


* {
    font-family: var(--FiraS);
}

.heroimg {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    object-position: top;
    margin: 0;
}

.underhero {
    height: 15vh;
    text-align: center;
    background-color: var(--whiteish);
    padding: 1rem 0;
}


h1, h2, h3 {
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}


.underlined {
    text-decoration: underline;
}


a {
    color: black;
}


.loadinggif > img {
   max-width: 50px;
}

.loadinggif {
    font-family: var(--FiraS);
    margin: 2rem auto 0 auto;
    height: 200px;
    text-align: center;
    background-color: var(--whiteish);
}



.smallerheader {
    height: 25vh;
    object-position: bottom;
    filter: brightness(50%);
}






#menu  {
    display: none;
}

/*pen li*/
header > nav > ul > li, footer > div > ul > li, .overlay li, .undermenu > div > ul > li, .wholePortfolio > div > div > ul > li {
    list-style: none;
}


/*bortover liste*/
header > nav > ul, footer > div > ul, .undermenu > div > ul, .list-horisontal {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

/* Her på ting som går på header må jeg velge elementene inn i CSSen, istedenfor å måtte gå gjennom alle html sider for å endre om en ednringer skjer i klasse*/

/*pen a*/
header > nav > ul > li > a, footer > div > ul > li > a, .overlay a, .undermenu > div > ul > li > a, footer > div > ul > li > div > a, .lastnav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 1px;
}


/*nedover liste*/
.overlay ul, footer > div > ul, .list-vertical {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
    margin: 0;
}


/* button */ 
.buttonstyle {
    background-color: var(--greyLightBrown);
    border: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    color: black;
    text-transform: uppercase;
    font-family: var(--barCon);
    font-size: 1rem;
    box-shadow: 1px 1px 12px 6px rgb(255, 253, 253) ;
    border-radius: 3px;
}



/* HEADER -----------------------------------------------------------*/


header {
    box-sizing: border-box;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 2rem;
    transition: 0.3s;
    z-index: 100;
}



#logo > a > img {
    height: 80px;
}



header > nav > ul {
    gap: 0;
    align-items: center;
}



header > nav > ul > li {
    border-right: solid var(--whiteish) 1px;
    padding: 0 1.1rem;
    font-size: 1.1rem;
}

header > nav > ul > li > a {
    color: white;
}


header > nav > ul > li:nth-child(5) {
    border: none;
    padding-right: 1rem;
}

header > nav > ul > li:last-of-type {
    border: none;
    padding-right: 1rem;
}

header > nav > ul > li:last-of-type img {
    height: 20px;
    width: 20px;
}


header > nav > div {
    padding-right: 2rem;
}

.search {
    display: none;
}

div#menu > img {
    width: 35px;
}

.smallerheaderh1 {
    margin: 3rem auto;
    width: 82%;
    padding: 2rem 2rem 2rem 0;
    font-family: var(--fatA);
    font-size: 4rem;
    text-transform: lowercase;
}



@media (max-width: 900px) {

    .smallerheader {
        height: 25vh;
    }

    header {
        display: grid;
        grid-template-areas:
        'logo search'
        'nav nav';
        justify-content: space-between;
        align-items: center;
        row-gap: 1rem;
    }

    .heroimg {
        object-position: left;
    }

    header > nav {
        grid-area: nav;
    }
    
    #logo img {
        max-width: 150px;
    }

    #logo {
        grid-area: logo;
    }

    header > nav > ul > li:last-of-type {
        display: none;
    }

    header > nav > ul > li:first-of-type {
        padding-left: 0;
    }

    .search {
        text-align: right;
        margin: 0;
        display: block;
        grid-area: search;
        padding: 1rem 1rem 0 0;
    }

    .search > img, div#menu img {
        height: 30px;
    }

}





@media (max-width: 750px) {

    .search {
        padding: 0;
    }
  
    header {
        display: grid;
        grid-template-areas:
        'menu logo search';
        padding: 2rem;
    }


    #logo > a > img {
        height: 40px;
    }
   
    header > nav {
        display: none;
    }

    div#menu {
        display: inline-block;
        grid-area: menu;
        cursor: pointer;
    }

    .overlay {
        visibility:hidden;
        transition: visibility 0.6s, opacity 0.3s; 
        opacity: 0;
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: var(--lys-rosa);
        padding: 3rem;
        text-align: center;
        width: 100vw;
        box-sizing: border-box;
    }

    .overlay ul {
        gap: 2rem;
    }
}



@media (min-width: 750px) {
    div.overlay {
        display: none;
    }
}



@media (max-width: 600px) {
    .heroimg {
        height: 100vh;
        object-position: 20%;
    }

    .smallerheader {
        height: 25vh;
    }

    .underhero {
        height: 3rem;
        background-color: transparent;
        position: relative;
    }

    .underhero h1 {
        font-size: 2rem;
        position: absolute;
        width: 50px;
        left: 10%;
        top: -700%;
        color: white;
    }
}






/* FOOTER --------------------------------------------------------------*/



.lastnav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: row;
    margin: 5rem 0;
}

.lastnav a {
    cursor: pointer;
}

.lastnav a > img {
    width: 13px;
}

.lastnav a:first-of-type > img {
    rotate: -90deg;
}





footer {
    background-color: var(--greyLightBrown);
    padding: 4rem 8vw;
}


footer {
    display: grid;
    grid-template-areas:
    'menus newsletter'
    'copyright newsletter';
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

.footerleft {
    grid-area: menus;
}

.footerright {
    grid-area: newsletter;
}

.copyright {
    grid-area: copyright;
    text-align: left;
}

.footerleft > ul {
    gap: 1.2rem;
}


.footerleft ul > li > div > a {
    display: inline;
    font-size: 0.9rem;
    text-transform: initial;
    padding-left: 2rem;
}

.footerleft > ul > li:last-child > div > a:first-of-type {
    padding-left: 2.3rem;
}

.footerleft > ul > li > div {
    display: inline-block;
}



.footerright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 3rem;
}

.footerright > div:last-of-type img {
    max-width: 40px;
}

.footerright > div:last-of-type {
    display: flex;
    gap: 1.3rem;
}

.footerright > div:first-of-type {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
}

.footerright > div:first-of-type label {
    font-family: var(--fatA);
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    text-transform: lowercase;
}

footer > div > div:first-of-type input {
    width: 350px;
    height: 35px;
    display: inline;
    border-radius: 3px;
    border: none;
}
    
    
input[type=emailnewsletter] {
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

    
footer > div > div:first-of-type button {
    border: none;
    border-radius: 3px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8rem;
    background-color: #92ABAF;
    padding: 0.6rem;
}
    

.copyright p {
    text-align: left;
    font-size: 1.05rem;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-family: var(--FiraS);
}

.copyright > p:last-of-type {
    padding-top: 0.3rem;
}

@media (max-width: 1000px) {
    .footerleft ul > li > div {
        display: none;
    }
}

@media (max-width: 650px) {
    
    footer {
        grid-template-areas:
        'menus'
        'newsletter'
        'copyright';
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding: 2rem;
    }

    .footerleft > ul {
        flex-direction: row;
        gap: 2rem;
    }

    footer > div:nth-child(2) {
        align-items: center;
    }

    footer > div > div:first-of-type {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .footerleft  > ul {
        flex-direction: column;
        align-items: center;
    }

    footer > div > div:first-of-type input {
        width: 100%;
    }
}

