html {
    --chocBrown: rgb(167, 138, 126);
    --darkBrown: rgb(69, 56, 52);
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;
    --whiteish: rgb(251, 248, 248);
    --greyLightBrown: #e1d7d1;
    --LIGHTgreyLightBrown: #ede3deaf;
    
    --robotCon: 'Roboto Condensed', sans-serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
    --Nanum: 'Nanum Myeongjo', serif;
    --fatA: 'Abril Fatface', cursive;
    --corGar: 'Cormorant Garamond', serif;
    --playDis: 'Playfair Display', cursive;
    --barCon: 'Barlow Condensed', sans-serif;
}

main {
    margin: 0 4rem;
    position: relative;
}

.contacth1 {
    margin: 2rem 0;
}

.smallerheader {
    object-position: center;
}

.breadcrumbs {
    margin-left: 0.8rem;
}

h2 {
    font-size: 3rem;
    max-width: 400px;
    font-family: var(--playDis);
    margin-bottom:  1rem;
    text-align: center;
}

.playforyou {
    height: 450px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex: 1 1 0px;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
}

.playforyou > p {
    max-width: 400px;
    line-height: 1.5rem;
}

.boldp {
    font-weight: 500;
    margin: 1rem 0;
}

.divforborders {
    flex: 45%;
    width: 100%;
    height: 100%;
}

.divforborders > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.linktoform:hover {
    cursor: pointer;
}

.linktoform > img, .support > div > div > a > img {
    max-width: 15px;
    transform: rotate(180deg);
}

.support > div > div > a > img {
    transform: rotate(0deg);
}

.playforyou div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    text-align: center;
    font-family: var(--robotCon);
    font-weight: 300;
    padding: 0 2rem;
    flex: 45%;
}

.reverse {
    flex-direction: row-reverse;
}

form {
    margin-bottom: 6rem;
    background-color: var(--greyLightBrown);
    color: black;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    padding: 4vw 6vw;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}

.form > h2 {
    text-align: left;
}

form > div {
    display: flex;
    flex-direction: column;
    position: relative;
}

form > div:nth-child(2) {
    text-align: right;
}

input, textarea {
    display: block;
    width: 300px;
    height: 34px;
    border-radius: 4px;
    border: none;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    font-size: 1rem;
}

label {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
    position: relative;
}

form > div > label.subject:after{
    content: 'Write or choose from the list';
    position: absolute;
    top: 6%;
    right: 0%;
    font-size: 0.8rem;
    text-transform: initial;
}

form > div > label.subject > input::placeholder {
    background-image: url(/img/icons8-chevron-48.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

form > div > label.subject > input:hover {
    cursor: pointer;
}

textarea {
    width: 400px;
    height: 150px;
    padding: 1rem;
}

.form > form > div > button {
    cursor: pointer;
    text-transform: uppercase;
    margin-left: auto;
    background-color: var(--blue-green);
    color: white;
    box-shadow: rgb(187, 182, 182) 2px 5px 10px;
    padding: 0.5rem 2rem;
}

.nameBAD, .emailBAD, .subjectBAD, .subjectOK .nameOK, .emailOK, .textOK, .textBAD {
    color: black;
    letter-spacing: 1px;
    font-size: 0.8rem;
    display: inline-block;
    position: absolute;
    right: 0%;
    top: 36%;
    text-transform: uppercase;
}

.nameBAD, .nameOK {
    top: 2%;
}

.subjectOK, .subjectBAD {
    left: 0%;
    top: 91%;
}

.textOK, .textBAD {
    position: inherit;
    margin: 0.5rem 0;
    text-transform: uppercase;
}

textarea {
    margin-bottom: 0;
}

.support {
    padding: 6rem 1rem;
    background-color: rgba(238, 228, 227, 0.797);
    text-align: center;
}

.support h2, .support h3 {
    margin: 0 auto;
    max-width: 50%;
    font-family: var(--playDis);
}

.support > p {
    font-weight: 300;
    font-size: 1.2rem;
    margin: 2rem 0;
}

.support > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    width: 80%;
    margin: 4rem auto 0 auto;
}

.support > div > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.support h3 {
    font-family: var(--barCon);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    max-width: 400px;
    text-align: center;
}

.support img {
    max-width: 200px;
}

.supportimg {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.support > div > div:nth-child(2) {
    background-color: white;
    border-radius: 10px;
    padding: 2rem 1rem;
    text-align: center;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.support div:nth-child(2) hr {
    width: 60%;
    margin-bottom: 0.5rem;
}



@media (max-width: 1000px) {
    form {
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-direction: column;
        gap: 1rem;
    }
}


@media (max-width: 800px) {
    .support > div {
        flex-direction: column;
        gap: 5rem;
    }

    .support h2 {
        max-width: 90%;
        text-align: center;
    }
}




@media (max-width: 900px) {
    
    .playforyou {
        flex-direction: column;
        padding: 0;
        height: fit-content;
    }

    .divforborders > img {
        max-height: 500px;
    }

    h2 {
        max-width: 80%;
    }

    .smallerheader {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}


@media (max-width: 600px) {

    .contacth1 {
        margin-left: 2rem;
    }

    .playforyou div:nth-child(2) {
        align-items: flex-start;
        text-align: left;
    }

     h2 {
        font-size: 2.5rem;
        text-align: left;
    }

    main {
        margin: 0;
    }

    .breadcrumbs {
        margin-left: 2.5rem;
    }

    textarea, input {
        max-width: 250px;
    }

    .supportimg {
        margin: 0 auto;
    }

    form {
        border-radius: 0;
    }

    .form > h2 {
        margin-left: 2rem;
    }

    .support div:nth-child(2) {
        width: 300px;
    }
}