


html {
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;

    --robotCon: 'Roboto Condensed', sans-serif;
    --BUKO: 'Cinzel', serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
}


.pinkgrid, .pinkgridreverse {
    background-color: #F6F0EC;
    height: 360px;
    padding: 3rem;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5rem;
}

.pinkgridreverse {
    flex-direction: row-reverse;
}

.pinkgrid > div, .pinkgridreverse > div {
    flex: 1;
    text-align: center;
}


.divforborders {
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#borderdivtopleft {
    top: 0%;
}

#borderdivtopleft, #borderdivtopright, #borderdivbottomleft, #borderdivbottomright {
    width: 30px;
    height: 30px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    position: absolute;

}

#borderdivtopright {
    border-right: 1px solid black;
    border-left: 0;
    right: 0%;
    top: 0%;
}

#borderdivbottomleft {
    bottom: 0%;
    border-bottom: 1px solid black;
    border-top: 0;
}

#borderdivbottomright {
    bottom: 0%;
    right: 0%;
    border-bottom: 1px solid black;
    border-left: 0;
    border-top: 0;
    border-right: 1px solid black;
}

.divforborders > h2 {
    font-family: var(--FiraS);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem;
}

.pinkgrid div:nth-child(2), .pinkgridreverse div:nth-child(2) {
    text-align: right;
    font-family: var(--robotCon);
    font-weight: 300;
}

.pinkgridreverse div:nth-child(2){
    text-align: left;
}


.boldp {
    font-weight: 500;
    margin: 2rem 0;
}



.pinkgridreverse div:nth-child(2) > button {
    background-color: #92ABAF;
}

@media (max-width: 900px) {
    .pinkgrid, .pinkgridreverse {
        flex-direction: column;
        height: fit-content;
        padding: 2rem 1.5rem;
    }

    .divforborders > h2{
    margin: 2rem;
    }

    .divforborders div {
        display: inline;
        text-align: center;
    }

    main {
        margin: 2rem;
    }
}

@media (max-width: 600px) {
    .divforborders > h2{
        font-size: 2rem;
        margin: 1rem;
    }

    main {
        margin: 0;
    }
}


.form h2 {
    text-align: center;
    font-family:var(--FiraS);
    text-transform: uppercase;
    color: #92ABAF;
    font-size: 4rem;
    font-weight: 400;
    line-height: 2.5rem;

}

form {
    margin-bottom: 6rem;
    background-color: var(--lys-rosa);
    color: black;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    padding: 4vw 6vw;
    align-items: center;
    justify-content: space-between;
}

form > div {
    display: flex;
    flex-direction: column;
}

form > div:nth-child(2) {
    text-align: right;
}

input, textarea {
    display: block;
    width: 300px;
    height: 34px;
    border-radius: 4px;
    border: none;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    font-size: 1rem;
}

label {
    text-transform: uppercase;
    font-family: var(--FiraS);
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
    position: relative;
}



form > div > label.subject:after{
    content: 'Write or choose from the list';
    position: absolute;
    top: 6%;
    right: 0%;
    font-size: 0.8rem;
    text-transform: initial;
}




form > div > label.subject > input::placeholder {
    background-image: url(/Contact/img/icons8-chevron-48.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

form > div > label.subject > input:hover {
    cursor: pointer;
}



textarea {
    width: 400px;
    height: 150px;
    padding: 1rem;
}

.formbutton {
    border: 1px var(--dark-orange) solid;
    box-shadow: 1px 1px 10px 4px rgb(174, 174, 174) ;
    text-transform: uppercase;
    margin-left: auto;
}



.nameBAD, .emailBAD, .subjectBAD {
    color: black;
    letter-spacing: 1px;
    font-size: 0.8rem;
    display: inline-block;
    position: absolute;
    right: 0%;
    top: 35%;
}

.nameOK, .emailOK {
    font-size: 0.8rem;
    display: inline-block;
    position: absolute;
    right: 0%;
    top: 35%;
    letter-spacing: 1px;
    color: black;
}

.subjectOK, .subjectBAD {
    font-size: 0.8rem;
    display: inline-block;
    position: absolute;
    left: 0%;
    top: 75%;
    letter-spacing: 1px;
    color: black;
}

textarea {
    margin-bottom: 0;
}


.textOK, .textBAD {
    font-size: 0.8rem;
    display: inline-block;
    letter-spacing: 1px;
    color: black;
    margin: 1rem 0;
    font-family: var(--robotCon);
    text-transform: uppercase;
}






.support {
    background-color: #CF9B7F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem;
}


.support h2, .support h3 {
    font-family: var(--FiraS);
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.support p {
    font-family: var(--robotCon);
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 400px;
}

.support h3 {
    font-size: 1.4rem;
}

.support img {
    max-width: 150px;
}

.support img:first-child {
    margin-right: 2rem;
}

p.underline {
    text-decoration: underline;
    color: black;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    margin: 1rem 0;
}



.support div:nth-child(2) {
    background-color: white;
    border-radius: 10px;
    padding: 2rem 1rem;
    width: 400px;
    text-align: center;
    
}

.support div:nth-child(2) h3 {
    color: black;
}

.support div:nth-child(2) hr {
    width: 70%;
    margin-bottom: 1rem;
}



@media (max-width: 1000px) {
    form, .support {
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-direction: column;
        gap: 1rem;
    }

    .support {
        gap: 6rem;
    }

   


}

@media (max-width: 600px) {
    textarea, input {
        max-width: 250px;
    }

    .form h2 {
        font-size: 2.5rem;
        line-height: 1.7rem;
    }

    .support div:nth-child(2) {
        width: 300px;
    }

    .supportimg {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .supportimg img {
        max-width: 120px;
    }

}