


html {
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;

    --robotCon: 'Roboto Condensed', sans-serif;
    --BUKO: 'Cinzel', serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
    --Nanum: 'Nanum Myeongjo', serif;
}

main {
    margin: 0 4rem;
}

body {
    margin: 0;
    background-color: rgb(251, 248, 248);
}

.heroimg {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    object-position: top;
    margin: 0;
}

.underhero {
    height: 15vh;
    text-align: center;
    background-color: rgb(251, 248, 248);
    margin-bottom: 5rem;
}

@media (max-width: 600px) {
    .heroimg {
        height: 70vh;
    }

    .underhero {
        height: 30vh;
    }
}

h1, h2 {

    font-size: 4.5rem;
    font-weight: 800;
    font-family:serif;
    color: black;
    padding-top: 0.5rem;
    margin: 0;
}

h2 {
    font-size: 3.5rem;
    max-width: 400px;
    margin-bottom:  1rem;
}

.playforyou {
    height: 450px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex: 1 1 0px;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    font-size: 1.1rem;
    letter-spacing: 0.4px;

}

.playforyou > p {
    max-width: 400px;
    line-height: 1.5rem;
}


.boldp {
    font-weight: 500;
    margin: 2rem 0;
}

.divforborders {
    flex: 45%;
    width: 100%;
    height: 100%;
}

.divforborders > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.playforyou div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: right;
    font-family: var(--robotCon);
    font-weight: 300;
    padding: 0 2rem;
    flex: 45%;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse > div > p {
    text-align: left;
}




@media (max-width: 900px) {
    .playforyou {
        flex-direction: column;
        padding: 0;
        height: fit-content;
    }

    .divforborders > img {
        max-height: 500px;
    }

    h2 {
        max-width: 80%;
        text-align: center;
    }



    .divforborders div {
        text-align: center;
    }


}

@media (max-width: 600px) {
     h2 {
        font-size: 2.5rem;
    }

    main {
        margin: 0;
    }
}





form {
    margin-bottom: 6rem;
    background-color: rgba(189, 172, 169, 0.646);
    color: black;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    padding: 4vw 6vw;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
}

form > div {
    display: flex;
    flex-direction: column;
}

form > div:nth-child(2) {
    text-align: right;
}

input, textarea {
    display: block;
    width: 300px;
    height: 34px;
    border-radius: 4px;
    border: none;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    font-size: 1rem;
}

label {
    text-transform: uppercase;
    font-family: var(--FiraS);
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
    position: relative;
}



form > div > label.subject:after{
    content: 'Write or choose from the list';
    position: absolute;
    top: 6%;
    right: 0%;
    font-size: 0.8rem;
    text-transform: initial;
}




form > div > label.subject > input::placeholder {
    background-image: url(/Contact/img/icons8-chevron-48.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

form > div > label.subject > input:hover {
    cursor: pointer;
}



textarea {
    width: 400px;
    height: 150px;
    padding: 1rem;
}

.formbutton {
    cursor: pointer;
    background-color: black;
    text-transform: uppercase;
    margin-left: auto;
}



.nameBAD, .emailBAD, .subjectBAD, .nameOK, .emailOK {
    color: black;
    letter-spacing: 1px;
    font-size: 0.8rem;
    display: inline-block;
    position: absolute;
    right: 0%;
    top: 35%;
}


.subjectOK, .subjectBAD {
    font-size: 0.8rem;
    display: inline-block;
    position: absolute;
    left: 0%;
    top: 75%;
    letter-spacing: 1px;
    color: black;
}

textarea {
    margin-bottom: 0;
}


.textOK, .textBAD {
    font-size: 0.8rem;
    display: inline-block;
    letter-spacing: 1px;
    color: black;
    margin: 1rem 0;
    font-family: var(--robotCon);
    text-transform: uppercase;
}






.support {
    margin: 0;
    padding: 6rem 1rem;
    background-color: rgba(238, 228, 227, 0.797);
text-align: center;
}

.support > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    width: 80%;
    margin: 4rem auto 0 auto;
}

.support > div > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

}


.support h2, .support h3 {
    font-family:serif;
    color: black;
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 1px;
    max-width: 50%;
    margin: 3rem auto;

}

.support p {
    font-family: var(--FiraS);
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 600px;
}

.support h3 {
    font-size: 1.2rem;
    text-align: left;
    max-width: fit-content;
    margin: 0;
}

.support img {
    max-width: 200px;
}

.supportimg {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}


p.underline {
    text-decoration: underline;
    color: black;
    letter-spacing: 0.5px;
    font-size: 0.9rem;
    margin: 1rem 0;
}



.support > div > div:nth-child(2) {
    background-color: white;
    border-radius: 10px;
    padding: 2rem 1rem;
    text-align: center;
}

.support > div > div:nth-child(2) h3 {
    text-align: center;
}




.support div:nth-child(2) hr {
    width: 60%;
    margin-bottom: 1rem;
}



@media (max-width: 1000px) {
    form {
        padding-top: 2rem;
        padding-bottom: 2rem;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 800px) {
    .support > div {
        flex-direction: column;
        gap: 5rem;
    }

}



@media (max-width: 600px) {
    textarea, input {
        max-width: 250px;
    }

    .support h2 {
        font-size: 2.5rem;
        max-width: 100%;
    }

    form {
        border-radius: 0;
    }

    .support div:nth-child(2) {
        width: 300px;
    }


}