

html {
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;

    --robotCon: 'Roboto Condensed', sans-serif;
    --BUKO: 'Cinzel', serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
}

* {
    font-family: var(--FiraS);
}




.herosection {
    margin-top: 10rem;
    height: 90vh;
    text-align: center;
    color: black;
}

.heroimages {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    height: 400px;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
    justify-content: center;
    flex-shrink: 0.9;
}

.heroimages > img {
    max-height: 42vw;
    max-width: 32vw;
    object-fit: cover;
    filter:opacity(70%);
}



hr {
    width: 120px;
    margin-bottom: 3rem;
}

.herosection >  div:nth-child(2) {
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.herosection >  div > h1 {
    font-family: var(--BUKO);
    font-weight: 500;
    font-size: 7rem;
    line-height: 7rem;
    color: var(--dark-orange);
}

.herosection >  div > p {
    font-family: var(--robotCon);
    font-weight: 100;
    font-size: 1.8rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin: 0;
}


@media (max-width: 700px) {
    .herosection >  div {
        padding-top: 20rem;
    }
    .herosection >  div > p {
        font-size: 1.4rem;
    }

}






.karusell {
    height: fit-content;
    
}

.karusell > div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 2rem 4.1rem 3rem 4.1rem;
}

.karusell > div:first-of-type > h1 {
   font-size: 4rem;
}








.outPut {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  position: relative;
  height: 400px;
  margin: 2rem 0;
  padding: 0 2rem;

}


.divs  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  width: 380px;
  height: 80px;
    background-color: var(--lys-rosa);
    box-shadow: rgb(184, 184, 184) 0px 7px 8px;
    padding: 1rem;
    opacity: 60%;
}

.divs > h2 {
    text-transform: uppercase;
    font-weight: 400;

}

.divs:nth-child(1) {
    background-color: var(--blue-green);
    color: white;
}

.divs:nth-child(1) > p {
    background-color: white;
    padding: 0.5rem;
    color: black;
}

.divs:nth-child(2) {
    background-color: var(--dark-orange);

}

.divs:nth-child(3) {
    background-color: var(--lys-rosa);
}

.divs:nth-child(4) {
    background-color: burlywood;
}

.divs > p, .divs > a {
    display: none;
}

.divs > img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}





.active {
    width: 800px;
    height: 250px;
    transition: transform 1s ease-in;
    box-shadow: rgb(155, 155, 155) 0 10px 12px;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 35%;
    display: grid;
    grid-template-areas: 
    'img h2'
    'img p'
    'img a';
    justify-content: space-between;
    text-align: right;
}

.active > p, .active > a {
    display: inline-block;
    grid-area: p;
    max-width: 400px;
}

.active > a {
    grid-area: a;
    text-decoration: none;
    color: white;
    background-color: rgb(142, 125, 162);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 5px;
}

.active > img {
    width: 200px;
    height: 200px;
    grid-area: img;
}

.active > h2 {
    grid-area: h2;
}



.buttonsdiv {
    text-align: center;
    padding: 3rem 0;
}

.buttonsdiv > button {
    border: none;
    background-color:white;
}

.fa-circle-right {
    color: black;
    display: block;
    font-family: 'Font Awsome ';
}

.buttonsdiv > button:first-of-type {
    margin-right: 2rem;
   
}



@media (max-width: 1000px) {
    
    .active {
        width: 650px;
        height: fit-content;
        align-items: center;
        gap: 1rem;
        margin-left: -332.5px;
     
    }

    .divs {
        font-size: 0.7rem;
        padding: 0.5rem;
    }
}

@media (max-width: 730px) {
    .outPut {

padding: 0rem 3rem;
	display: grid;
	grid-template-columns: repeat(4, 300px);
    justify-content: start;
    align-content: center;
    grid-template-rows: 1fr;
	grid-column-gap: 3rem;
	overflow: scroll;
	height: fit-content;
	scroll-snap-type: both mandatory;
    margin: 0;
	
    }
    .active, .divs {
        width: 300px;
        height: 400px;
        position: relative;
        left: 0;
        scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 1rem;
    opacity: 1;
    box-shadow: none;
    margin: 0;
    box-sizing: border-box;
    transition: none;
    text-align: left;
    padding: 1rem;
    top: 0;
    }

   

    .divs > p, .divs > a, .active > p {
        display: block;
    }

    .active > img, .divs > img {
   width: 100px;
   height: 100px;
    }

    .active > a {
        text-decoration: none;
        color: white;
       display: inline-block;
    }

    .karusell > div:first-of-type {
        margin: 3rem;
    }


    footer {
        flex-direction: column;
    }
}



