

html {
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;

    --robotCon: 'Roboto Condensed', sans-serif;
    --BUKO: 'Cinzel', serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
}


main {
    margin: 0 2rem;
}

a {
    text-decoration: none;
    color: black;
}

.instrument {
    color: red;
}

.school {
    font-size: 2rem;
}

.memberimg {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.cvdiv {
    border: solid black 1px;
    width: 400px;
    text-align: center;
    padding: 1rem;
}

.showMembers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}



