html {

    --chocBrown: rgb(167, 138, 126);
    --darkBrown: rgb(69, 56, 52);
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;
    --whiteish: rgb(251, 248, 248);
    --greyLightBrown: #e1d7d1;
    --LIGHTgreyLightBrown: #ede3deaf;
    
    --robotCon: 'Roboto Condensed', sans-serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
    --Nanum: 'Nanum Myeongjo', serif;
    --fatA: 'Abril Fatface', cursive;
    --corGar: 'Cormorant Garamond', serif;
    --playDis: 'Playfair Display', cursive;
    --barCon: 'Barlow Condensed', sans-serif;
}


a {
    text-decoration: none;
}

.smallerheaderh1 {
    margin-left: 3rem;
}

.smallerheader {
    object-position: bottom;
}


.cvdiv {
    border: solid var(--dark-orange) 1px;
    width: 300px;
    text-align: center;
    padding: 1rem;
    transition: 0.4s ease;

}

.cvdiv:hover {
    scale: 1.05;
}

.cvdiv h2 {
    font-weight: 300;
    font-size: 1.3rem;
    padding: 0.5rem 0;
}

.cvdiv p {
    font-family: var(--corGar);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 0;
    letter-spacing: 1px;
    background-color: var(--greyLightBrown);
    text-transform: uppercase;
}



.showMembers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 5rem;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3rem;
}


.loadmore, .message {
    display: block;
    width: 100px;
    margin: 4rem auto;
    cursor: pointer;
    text-align: center;
}

.message {
    cursor: initial;
}



/*--------------------------------------------------------------*/


.memberimg, .memberimgCV {
    width: 250px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.memberimgCV {
    width: 300px;
    height: 450px;
}

.showCV {
    width: 80%;
    margin: 3rem auto 0 auto;
}


.showCV > h1 {
    text-transform: inherit;
    text-align: right;
    margin: 0 0 0 auto;
    font-size: 3rem;
    padding: 0;
    max-width: 400px;
}

.cvDetails {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}


.leftFlex {
    position: relative;
}


.leftFlex > p {
    border: solid var(--blue-green) 3px;
    width: 280px;
    height: 450px;
    z-index: 0;
    display: inline-block;
    display: flex;
    font-family: var(--playDis);
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 20px 15px 0;
    letter-spacing: 1px;
    font-size: 1.2rem;

}

.leftFlex > img {
    box-shadow: 1px 1px 12px 6px rgb(228, 224, 224) ;
    z-index: 1;
    position: absolute;
    top: -7%;
    left: 19%;
}

.rightFlex {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    font-weight: 300;
}

.rightFlex > p:first-of-type,.rightFlex > p:nth-child(2) {
    background-color: var(--greyLightBrown);
    padding: 1rem 1.5rem;
    width: 80px;
    text-align: center;
    display: inline;
    color: black;
    text-transform: uppercase;
    font-family: var(--FiraS);
    letter-spacing: 1px;
}

.rightFlex > p:nth-child(2){
    margin-bottom: 0.8rem;
}

.rightFlex > h3 {
    margin: 2rem 0 0.2rem 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1px;
}


 
.rightFlex > ul {
    margin: 0;
}

.rightFlex > ul > li {
    list-style: none;
    margin-bottom: 1.5rem;
}

.rightFlex > ul > li:last-child {
    margin-bottom: 0;
}


.space {
    margin-top: 0.5rem;
    display: block;
    font-weight: 500;
}


.showCV > div:last-of-type {
    text-align: center;
    font-weight: 300;
    width: 60%;
    margin: 5rem auto;
}



@media (max-width: 1050px) {

    .showCV {
        width: 90%;
    }

    .cvDetails {
        padding: 3rem 0;
    }
    
    main {
        margin: 0;
    }

    .smallerheader {
        object-position: left;
    }

}



@media (max-width: 700px) {
    main {
        margin: 0 1rem;
    }

    .showCV > h1 {
        font-size: 2rem;
        padding: 0 1rem 3rem 0
    }


    .cvDetails {
    flex-direction: column;
    }

    .rightFlex > p:nth-child(3) {
       padding-top: 3rem ;
    }

    .rightFlex > p:nth-child(2) {
        margin-left: 1em;
    }

    .rightFlex {
        display: inline;
        padding-top: 1rem;
    }

    .leftFlex {
        margin-right: 2rem;
    }

    .leftFlex > p {
        width: 260px;
        height: 360px;
    }

    .memberimgCV {
        width: 270px;
        height: 380px;
    }

    .leftFlex > img {
        top: -13%;
        left: 18%;
    }

    .showCV > div:last-of-type {
        margin: 0 0 4rem 0;
        width: 100%;
        text-align: left;
    }

    .smallerheader {
        object-position: bottom;
    }

}