

html {
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;

    --robotCon: 'Roboto Condensed', sans-serif;
    --BUKO: 'Cinzel', serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
    --Nanum: 'Nanum Myeongjo', serif;

}


main {
    margin: 0 2rem;
}



a {
    text-decoration: none;
    color: black;
}



.memberimg {
    width: 250px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.cvdiv {
    border: solid var(--dark-orange) 1px;
    width: 300px;
    text-align: center;
    padding: 1rem;
}

.cvdiv:hover {
    scale: 1.1;
}

.cvdiv h2 {
    font-family: var(--FiraS);
    font-weight: 300;
}

.cvdiv p {
    font-family: var(--robotCon);
    padding: 1rem 0;
    background-color: var(--lys-rosa);
}



.showMembers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
}



.showCV {
    width: 80%;
    margin: 2rem auto;
}

.showCV > hr {
    background-color: var(--blue-green);
    height: 3px;
    border: none;
}

.showCV > h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--BUKO);
    font-size: 3rem;
    margin-top: 3rem;
    color: var(--blue-green);
}

.cvDetails {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 6rem 5rem 3rem 5rem;
    justify-content: space-between;
    align-items: center;
    font-family: var(--FiraS);
    border-bottom: #92ABAF solid 3px;
}

@media (max-width: 1000px) {
    main {
        margin: 0;
    }

    .cvDetails {
        padding: 6rem 1rem 3rem 1rem;
    }

}



.leftFlex {
    position: relative;
}

.leftFlex > p {
    border: solid var(--blue-green) 3px;
    width: 250px;
    height: 350px;
    z-index: 0;
    display: inline-block;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 20px 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;

}

.leftFlex > img {
    z-index: 1;
    position: absolute;
    top: -8%;
    left: 21%;
}

.rightFlex {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    font-weight: 300;
}

.rightFlex > p:first-of-type,.rightFlex > p:nth-child(2) {
    background-color: var(--dark-orange);
    padding: 1rem;
    width: fit-content;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-family: var(--FiraS);
    letter-spacing: 1px;

}

.rightFlex > p:nth-child(2){
    line-height: 0.9rem;
    background-color: var(--blue-green);
    margin-bottom: 0.5rem;
}

.rightFlex > h3 {
    margin: 2rem 0 0.2rem 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}


 
 
.rightFlex > ul {
    margin: 0;
}

.rightFlex > ul > li {
    list-style: none;
    margin-bottom: 1.5rem;
}

.rightFlex > ul > li:last-child {
    margin-bottom: 0;
}


.space {
    margin-top: 0.5rem;
    display: block;
    font-weight: 500;
}


.showCV > div:last-of-type {
    text-align: center;
    font-family: var(--FiraS);
    font-weight: 300;
    width: 60%;
    margin: 3rem auto;
}

@media (max-width: 700px) {
    main {
        margin: 0;
    }

    .cvDetails {
    flex-direction: column;
    }

    .rightFlex > p:first-of-type {
        display: inline;
    }

}