
html {
    --chocBrown: rgb(167, 138, 126);
    --darkBrown: rgb(69, 56, 52);
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;
    --whiteish: rgb(251, 248, 248);
    --greyLightBrown: #e1d7d1;
    --LIGHTgreyLightBrown: #ede3deaf;
    
    --robotCon: 'Roboto Condensed', sans-serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
    --Nanum: 'Nanum Myeongjo', serif;
    --fatA: 'Abril Fatface', cursive;
    --corGar: 'Cormorant Garamond', serif;
    --playDis: 'Playful Display', cursive;
    --barCon: 'Barlow Condensed', sans-serif;
}


main {
    margin: 0;
}

.showPost > div > img { 
    height: 100%;
    display: inline-block;
    object-fit: cover;
    width: 100%;
    margin: 0;
}

.showPost > div > a {
    text-decoration: none;
    font-weight: 400;
    color: white;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border: solid 1px white;
    text-transform: uppercase;
    transition: 0.3s ease;
    letter-spacing: 2px;
    font-family: var(--barCon);
}

.showPost > div > a:hover {
    background-color: white;
    box-shadow: rgb(169, 141, 141) 0px 0px 3px;
    color: rgb(118, 88, 88);
}

.showPost > div > a:last-of-type {
    font-size: 0.9rem;
}

.showPost > div > div > p {
    max-width: 500px;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--FiraS);
    padding: 0;
}

.showPost { 
    height: 450px;
    width: 80%;
    padding: 1rem;
    display: flex;
    flex: 1 1 0px;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
    padding: 2rem;
    color: white;
    background-color: var(--chocBrown);
}

.showPost > div {
    width: 100%;
    height: 100%;
}

.showPost:nth-child(even) {
    flex-direction: row-reverse;
    background-color: var(--LIGHTgreyLightBrown);
    color: black;
    text-align: right;
}

.showPost > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.showPost:nth-child(even) > div:first-of-type {
    align-items: flex-end;
}

.showPost:nth-child(even) > div > .h2title {
    color: black;
}


.showPost:nth-child(even) > div > a {
    color: black;
    border: solid 1px rgb(118, 88, 88);
    box-sizing: border-box;
}

.showPost:nth-child(even) > div > a:hover {
    background-color: rgb(118, 88, 88);
    color: white;
    box-shadow: rgb(169, 141, 141) 0px 0px 3px;
}

.h2title {
    font-weight: 800;
    font-size: 3rem;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    max-width: 100%;
    padding: 0;
}

.showPosts { /* hele siden*/
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}


/* Single post (newpost.html)-----------------------------------------------------------*/

.showOnePost {
    padding: 5rem 1rem 8rem 1rem;
}

.showPost > div > p {
    max-width: 500px;
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--FiraS);
    padding: 0;
}


@media (max-width: 800px) {

    .smallerheaderh1 {
        font-size: 3rem;
    }

    .showPost {
        flex-direction: column-reverse;
        padding: 1rem;
        min-height: 780px;
    }

    .h2title {
        font-size: 2.2rem;
    }

    .showPost > div > figure {
        height: 350px;
    } 


    .showPost:nth-child(2), .showPost:nth-child(4) {
        flex-direction: column-reverse;
    }
}


@media (max-width: 500px) {
    .showOnePost {
        padding: 5rem 0;
    }
}

