

html {
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;

    --robotCon: 'Roboto Condensed', sans-serif;
    --BUKO: 'Cinzel', serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
    --Nanum: 'Nanum Myeongjo', serif;
}

main {
    margin: 12rem 2rem;
}


a {
    text-decoration: none;
    color: black;
}



.wholePortfolio {
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    column-gap: 2rem;
    margin: 5rem auto;
}

.wholePortfolio > div > ul {
    gap: 0.5rem;
}

.wholePortfolio > div:first-of-type {
    border: solid black 1px;
}

.wholePortfolio > div:first-of-type > ul:first-of-type {
    text-transform: uppercase;

    align-items: center;
    gap: 1rem;
 
}
















.sectionPortfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 3rem;
    padding: 0 2rem 2rem 2rem ;
}

.showPortfolio {
    width: 400px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    justify-content: flex-end;
    color: black;
    transition: 0.3s ease-out;
    box-sizing: border-box;
}

.showPortfolio:hover {
    scale: 1.05;
}

.showPortfolio:hover img {
    box-shadow: grey 6px 12px 15px;

}





.showPortfolio img {
    position: absolute;
    height: 75%;
    width: 100%;
    top: 0;
    z-index: 0;
    object-fit: cover;
    box-shadow: grey 2px 4px 12px;

}


.showPortfolio > h2, .showPortfolio > p {
    z-index: 2;
}


.typeofevent, .date {
    font-weight: 400;
}


.showPortfolio > h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
}


.showPortfolio > a {
    width: 100%;
}



