

html {
    --dark-orange: #CF9B7F;
    --lys-rosa: #F6F0EC;
    --blue-green: #92ABAF;

    --robotCon: 'Roboto Condensed', sans-serif;
    --BUKO: 'Cinzel', serif;
    --FiraS: 'Fira Sans Extra Condensed', sans-serif;
}


main {
    margin: 0 2rem;
}

a {
    text-decoration: none;
    color: black;
}

.instrument {
    color: red;
}

.school {
    font-size: 2rem;
}

.memberimg {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.cvdiv {
    border: solid black 1px;
    width: 400px;
    text-align: center;
    padding: 1rem;
}

.sectionPortfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.showPortfolio {
    width: 400px;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border: solid 1px black;
}







.sectionPortfolio > a > div > p:last-child {
    border: solid 2px black;
    box-sizing: border-box;
    color: white;
    height: 100px;
    background-color: black;
    opacity: 80%;
    padding: 1rem;
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    font-family: var(--FiraS);

}




.showPortfolio h2, .showPortfolio p.typeofevent, .showPortfolio p.date {
    background-color: var(--dark-orange);
    color: white;
    text-transform: uppercase;
    font-family: var(--FiraS);
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    width: fit-content;
}

.showPortfolio p.typeofevent, .showPortfolio p.date {
    background-color: var(--lys-rosa);
    width: fit-content;
    font-size: 1.2rem;
    color: black;
}

.showPortfolio p.date {
background-color: var(--blue-green);
color: white;
}

.showPortfolio > a {
    width: 100%;
}



